.image{
    background-image: url('../majestic-sunset-mountains-landscape-dramatic-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}