.top{
    background-image: url(./majestic-sunset-mountains-landscape-dramatic-sky.jpg);
    background-size: cover;
    text-align: center;
    padding: 150px;
}
input[type=text]{
    padding-left: 20px;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    margin:10px;
    border:none;
}
input[type=submit]{
    margin-top: 20px;
    color: white;
    background-color: orange;
    padding:10px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
img{
    position: relative;
    margin:20px;
    float: left;
    width: 300px;
    height: 300px
}
.bottom{
    padding-left:200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: justify;
}
@media screen and (min-width:425px) and (max-width:768px){
    .bottom{
        padding-left:50px;
        padding-right:50px;
    }
}