.orange {
    color: rgb(255,155,80);
}
.orange1 {
    background-color:rgb(255,155,80) ;
}
.blue {
    background-color: rgb(19,88,117);
}
.skew {
   transform: skewX(20deg);
   position: relative;
   right: 15px;
}
.unskew {
    transform: skewX(-20deg);
}
.move{
    position: relative;
    right: 30px;
}
.grad-girl {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5)),url(../Images/pexels-olly-3769714.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
/* .admission {
    border: 0;
    box-decoration-break: none;
} */
 .circle1 {
    border: none;
    border-radius: 50%;
    width: auto;
    height: 40% ;
    position: relative;
    top: 20px;
 }
 .aside-pic-2 {
    padding-top: 200px;
 }
.as-pic-1 {
    border: 5px solid rgb(255,155,80);
    border-radius: 30px;
}
.as-pic-2{
    border: 5px solid rgb(19,88,117);
    border-radius: 30px;
}


@media screen and (max-width:430px){
    .aside-pic-2{
        padding-top: 20px;
    }
}
@media screen and (max-width:780px) , (min-width:430px){
    .aside-pic-2{ 
        width: 100%;
    }
    .circle1{
        width: 200px;
        height: fit-content;
    }
}
@media screen and (max-width: 1030px),(min-width:780px) {
    .as-pic-1,.as-pic-2{
        width: 100%;
    }
   
    /* .circle1{
        display: flex;
        justify-content: center;
        width: 50px;
        height: fit-content;
    } */
}